<sub><sup>
This post is part of a series on the cost of experiments. All costs are orders of magnitude and are susceptible to have changed between the post and your order date. All costs assume you perform the whole pipeline in house and do not include labor costs. For outsourcing a decent first estimate is to double the indicated costs.
Cheap consumables are not always included if they affect less than 1% of the cost. Always check the protocols coming with the kits for the complete list of consumables to order.
</sup></sub>

